<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet" />
     {% load static %}
        <link rel="stylesheet" href="{% static 'css/Password_reset_done.css' %}"  />
    <title>Document</title>
</head>
<body>
    <div class="v1_2">
    <span class="v51_5">Travelar</span>
    <div class="div1">
    <h3>Password Reset Complete</h3>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <a href="{% url 'Login' %}">Log In</a>

    </div>
    </div>
</body>
</html>