<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet" />
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/Password_reset_confirm.css' %}"  />
    <title>Document</title>
</head>
<body>
    <div class="v1_2">
    <span class="v51_5">Travelar</span>
    <div class="div1">
    <h3>Enter New Password</h3>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Change My Password">
    </form>
    </div>
    </div>
</body>
</html>