<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet" />
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/Password_reset_sent.css' %}"  />
    <title>Document</title>
</head>
<body>
    <div class="v1_2">
    <span class="v51_5">Travelar</span>
    <div class="div1">
    <h3>Password Reset Sent</h3>

    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
    </div>
</body>
</html>