<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet" />
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/Password_reset.css' %}"  />
    <title>Document</title>
</head>
<body>
    <div class="v1_2">
    <span class="v51_5">Travelar</span>
    <div class="div1">
    <h3>Password Reset</h3>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form method="POST" >
        {% csrf_token %}
        {{form}}
        <input type="submit" name="Send Email">
    </form>
    </div>
    </div>