* {
  box-sizing: border-box;

}
.span1
{
left:10px;
width: 340px;
top:450px;
position:absolute;
font-family: Raleway;
 font-weight:bold;
 font-size: 20px;
 color:rgba(36,140,59,1);
}
a{
  width: 120px;
  height: 44px;
  background: rgba(147,168,92,1);
  top: 848px;
  left: 701px;
  position: absolute;
  font-family: Raleway;
  text-align: center;
  padding:10px 10px 10px 10px;
  color: black;
  text-decoration: none;
  font-weight: Bold;
  font-size: 20px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.phone
{
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 360px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.add
{ width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 859px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;

}
.address
{width: 250px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 207px;
  left: 859px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;

}
img {
  width: 345px;
  height: 300px;
  object-fit: contain;
}
body {
  font-size: 20px;
}
form{
  position: absolute;
  left: -99px;
}
input[type="submit"]
{ width: 120px;
  height: 44px;
  background: rgba(147,168,92,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  font-family: Raleway;
  font-weight: Bold;
  font-size: 20px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;

}
.p239_9{
     width: 295px;
  color: rgba(0,0,0,1);
  position: absolute;
 top: -45px;
    left: -48px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.p239{
    width: 388px;
  height: 45px;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 889px;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a black background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*Input-date*/
input[type=date] {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  font-size: 23px;
  border-color: white;
  border-bottom-color: white;
}
/*Input*/
input[type=text] {
  width: 388px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  font-size: 20px;
  border-color: white;
  border-bottom-color: white;
}
.v229_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v229_3 {
  width: 100%;
  height: 974px;
  background: rgba(222,254,223,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 000px;
  border: 1px solid rgba(224,218,218,1);
  border-top-left-radius: 71px;
  border-top-right-radius: 71px;
  border-bottom-left-radius: 71px;
  border-bottom-right-radius: 71px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v229_5 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 82px;
  left: 39px;
  font-family: Raleway;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v229_6 {
  width: 318px;
  color: rgba(182,175,175,1);
  position: absolute;
  top: 120px;
  left: 17px;
  font-family: Raleway;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v229_7 {
  width: 326px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 173px;
  left: 9px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v230_6 {
  width: 400px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 459px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v238_8 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 459px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v238_21 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 459px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_0 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 539px;
  left:459px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_6 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 636px;
  left: 459px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v238_16 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 859px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v238_22 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 859px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v239_1 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 859px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v240_10 {
  width: 350px;
  height: 45px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 459px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v233_9 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 207px;
  left: 459px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v242_20 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 70px;
  left: 360px;
  font-family: Raleway;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v243_0 {
  color: rgba(0,0,0,1);
  position: absolute;
  top: 110px;
  left: 360px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v233_12 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 459px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v238_23 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 401px;
  left: 459px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v239_2 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 501px;
  left: 459px;
  font-family: Raleway;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
    font-weight: 600;
  text-align: left;
}
.v238_28 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 859px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v239_5 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 401px;
  left: 859px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v240_3 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 592px;
  left: 971px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
      font-weight: 600;
}
.v240_5 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 600px;
  left: 459px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
     font-weight: 600;
}
.v239_9 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 595px;
  left: 459px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v238_19 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 305px;
  left: 859px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
    font-weight: 600;
}
.v238_2 {
  width: 198px;
  color: rgba(36,140,59,1);
  position: absolute;
  top: 40px;
  left:30px;
  font-family: Akronim;
  font-weight: Regular;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}
.v212_11 {
  width: 120px;
  height: 44px;
  background: url("../images/v212_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 881px;
  overflow: hidden;
}
.v212_13 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 21px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v242_9 {
  width: 261px;
  height: 34px;
  background: url("../images/v242_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 634px;
  left: 1008px;
  overflow: hidden;
}
.v241_0 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v242_0 {
  width: 24px;
  height: 24px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v242_10 {
  width: 261px;
  height: 34px;
  background: url("../images/v242_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 685px;
  left: 1008px;
  overflow: hidden;
}
.v242_11 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v242_12 {
  width: 24px;
  height: 24px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v242_17 {
  width: 261px;
  height: 34px;
  background: url("../images/v242_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 1008px;
  overflow: hidden;
}
.v242_18 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 43px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v242_19 {
  width: 24px;
  height: 24px;
  background: rgba(253,247,247,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
